body {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

#btn {
    padding: 8px;
    margin: 10px 0px 22px 0px;
    width: 10%;
}

#box {
    width: 80%;
}